html {
  font-size: calc(1em + 0.75vw);
}

body {
  line-height: 1.5;
  margin: 0 auto;
  padding: 1.5em;
  max-width: 40em;
}

body * + * {
  margin-top: 1.5em;
}

blockquote {
  font-style: italic;
  font-size: 0.8em;
}
a{
  color: purple;
  text-decoration: none;
  border:none;
  border-bottom: .1em dashed
}
a:active{
  color: purple;
  text-decoration: none;
  border:none;
  border-bottom: .1em dashed
}
